
.container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(17, auto);
    grid-gap: 10px;
    grid-template-areas: 
        "boton   boton   boton   boton"
        "header  header  header  header"
        "imagenp imagenp content1 content1"
        "texto1  texto1  texto1  texto1"
        "imagen1 imagen2 imagen3 imagen4"
        "imagen9 imagen10 imagen11 imagen12"
        "texto2  texto2  texto3  texto3"
        "intro   intro   intro   intro"
        "header2 header2 header3 header3"
        "imagen5 texto4 imagen6 texto5"
        "header4 header4 header5 header5"
        "imagen7 texto6 imagen8 texto7"
}


.botones{
    grid-area: boton;
    
}
.boton1, .boton2, .boton3, .boton4{
    background-color: rgb(20, 37, 37);
    color: whitesmoke;
    height: 50px;
    padding: 8px;
    margin-left: 10px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    font-size: 15px;
}


.header{
    grid-area: header;
    color: rgb(20, 37, 37);
    font-size: 34px;
}


.imagenp {
    grid-area: imagenp;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.253);
}
.content1{
    grid-area: content1;
    color: whitesmoke;
    background-color: rgb(20, 37, 37);
    padding: 30px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.253);
}
.texthl{
    color: aquamarine;
}


.texto1{
    grid-area: texto1;
    color: rgb(20, 37, 37);
    background-color: rgb(182, 149, 190);
    height: 90px;
    padding: 50px;
    margin-bottom: 40px;
}

.imagen1, .imagen2, .imagen3, .imagen4, .imagen5, .imagen6, 
.imagen7, .imagen8, .imagen9, .imagen10, .imagen11, .imagen12,
.texto1, .texto2, .texto3, .texto4, .texto5, .texto6, .texto7, 
 .intro{
    border-radius: 5px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.253);
}
.imagen1{
    grid-area: imagen1;
    height: 220px;
    background-size: cover;
    background-position: center;
}
.imagen2{
    grid-area: imagen2;
    height: 220px;
    background-size: cover;
    background-position: center;
}
.imagen3{
    grid-area: imagen3;
    height: 220px;
    background-size: cover;
    background-position: center;
}
.imagen4{
    grid-area: imagen4;
    height: 220px;
    background-size: cover;
    background-position: center;
}
.imagen5{
    grid-area: imagen5;
    height: 250px;
    background-size: cover;
    background-position: center;
}
.imagen6{
    grid-area: imagen6;
    height: 250px;
    background-size: cover;
    background-position: center;
}
.imagen7{
    grid-area: imagen7;
    height: 250px;
    background-size: cover;
    background-position: center;
}
.imagen8{
    grid-area: imagen8;
    height: 250px;
    background-size: cover;
    background-position: center;
}
.imagen9{
    grid-area: imagen9;
    height: 220px;
    background-size: cover;
    background-position: center;
}
.imagen10{
    grid-area: imagen10;
    height: 220px;
    background-size: cover;
    background-position: center;
}
.imagen11{
    grid-area: imagen11;
    height: 220px;
    background-size: cover;
    background-position: center;
}
.imagen12{
    grid-area: imagen12;
    height: 220px;
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}
.texto2{
    grid-area: texto2;
    background-color: rgb(20, 37, 37);
    color: whitesmoke;
    margin-bottom: 60px;
}
.texto3{
    grid-area: texto3;
    background-color: rgb(20, 37, 37);
    color: whitesmoke;
    margin-bottom: 60px;
}
.texto4{
    grid-area: texto4;
    background-color: rgb(182, 149, 190);
    padding: 15px;
}
.texto5{
    grid-area: texto5;
    background-color: rgb(182, 149, 190);
    padding: 15px;
}
.texto6{
    grid-area: texto6;
    background-color: rgb(182, 149, 190);
    padding: 15px;
}
.texto7{
    grid-area: texto7;
    background-color: rgb(182, 149, 190);
    padding: 15px;
}



.header2, .header3, .header4, .header5{
    height: 50px;
}
.header2{
    grid-area: header2;
}
.header3{
    grid-area: header3;
}
.header4{
    grid-area: header4;
}
.header5{
    grid-area: header5;
}
.intro{
    grid-area: intro;
    background-color: rgb(20, 37, 37);
    color: whitesmoke;
    padding: 30px;
}






